.swiper{
    .slider-item{
        // padding: 9rem 0;
        height: 110vh;
        width: 100%;
        position: relative;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    
    }
}