header{
    background: blue;
    color: #fff;

    .menu{
        ul{
            li{
                a{
                    text-decoration: none;
                    padding: 15px;
                    display: block;
                    color: #fff;
                }
            }
        }
    }
}